* {
  font-family: 'Oswald', sans-serif;
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

.App {
  text-align: center;
}

/*=============================================
=            Header Style            =
=============================================*/
.ant-layout-header {
  height: unset;
  padding: 0.3rem 0;
}

.ant-layout-header .pokemon-logo {
  width: 150px;
  margin: 0 auto;
}

.ant-layout-header .title {
  color: white;
}

/*=====  End of Header Style  ======*/

/*=============================================
=            Pokemon Card            =
=============================================*/
.main-content {
  margin-top: 1rem;
}

.pokemon-list {
  max-width: 960px;
  margin: 0 auto !important;
}

.pokemon-card {
  padding: 1rem;
  padding-bottom: 0;
  cursor: pointer;
  margin-bottom: 1rem;
  border-width: 2px;
  min-height: 240px;
}

.pokemon-card:hover {
  border: 2px solid #fdcb05;
}

.pokemon-card-cover {
  max-height: 150px;
  width: auto;
  margin: 0 auto;
}

.gray-card {
  filter: grayscale(100%);
}

.opacity-text {
  opacity: 0;
}

/*=====  End of Pokemon Card  ======*/

/*=============================================
=            Score            =
=============================================*/
.score-container {
  background-color: #52c41a;
  color: white;
  display: block;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.score-container p {
  margin: 0;
  font-weight: bold;
}

/*=====  End of Score  ======*/

/*=============================================
=            Footer style            =
=============================================*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

/*=====  End of Footer style  ======*/
