* {
  font-family: 'Oswald', sans-serif;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

.App {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

/*=============================================
=            Header Style            =
=============================================*/
.ant-layout-header {
  height: unset;
  padding: 0.3rem 0;
}

.ant-layout-header .pokemon-logo {
  width: 150px;
  margin: 0 auto;
}

.ant-layout-header .title {
  color: white;
  margin-bottom: 0;
}

.app-navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 0 auto;
  padding: 0;
}

.app-navigation .active {
  color: #fdcb05;
}

/*=====  End of Header Style  ======*/

/*=============================================
=            Pokemon Card            =
=============================================*/
.main-content {
  margin-top: 1rem;
}

.pokemon-list {
  max-width: 960px;
  margin: 0 auto 1rem !important;
}

.pokemon-card {
  padding: 1rem;
  padding-bottom: 0;
  cursor: pointer;
  border-width: 2px;
  min-height: 240px;
}

.pokemon-card:hover {
  border: 2px solid #fdcb05;
}

.pokemon-card-cover {
  max-height: 150px;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
}

.pokemon-gallery-card-cover {
  max-height: 150px;
  max-width: 100%;
  width: auto;
  margin: 1rem auto 0;
}

.pokemon-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-type {
  color: gray;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
}

.gray-card {
  filter: grayscale(100%);
}

.opacity-text {
  opacity: 0;
}

/*=====  End of Pokemon Card  ======*/

/*=============================================
=            Score            =
=============================================*/
.score-container {
  background-color: #52c41a;
  color: white;
  display: block;
  width: fit-content;
  min-width: 50px;
  padding: 0.5rem;
  border-radius: 10px;
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.score-container p {
  margin: 0;
  font-weight: bold;
}

/*=====  End of Score  ======*/

/*=============================================
=            Footer style            =
=============================================*/
footer {
  width: 100%;
  flex-shrink: 0;
}

footer p {
  margin: 0;
}

/*=====  End of Footer style  ======*/

/*=============================================
=            Others            =
=============================================*/
.loading-wrapper {
  margin: 1rem;
}

/*=====  End of Others  ======*/
